footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer img {
    max-width: 100px;
}
.more_projects{
    border: 3px solid #fff;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.1rem;
}
.more_projects:hover{
    background-color: #ad9c4c;
    border: 3px solid #ad9c4c;
    font-weight: bold;
}